# Arduino build artifacts
*.bin
*.elf
*.map

# Build folders (Arduino IDE / PlatformIO)
build/
.pio/
*.ino.cpp

# Python (validation)
__pycache__/
.venv/
.env
*.ipynb_checkpoints
validation/.matplotlib/

# Logs & raw data
validation/*/data/*.log
validation/*/data/*_raw.csv

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
